<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fraktur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nes.min.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style>
        html,
        body,
        pre,
        code,
        kbd,
        samp {
            font-family: "Press Start 2P";
        }
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body class="w-100 mt3 nes-container is-dark">
    <h1 class="w-100 mw8 center f4" style="color:#e76e55">USB - Klinik für Radiologie und Nuklearmedizin</h1>
    <div class="w-100 b--black-10 mw8 center ">
        <div class="nes-container is-dark with-title mt4">
            <h1 class="w-100 mw8 title">Distale Radiusfraktur</h1>
            <p>Dies ist ein Deep-Learning Programm zur Erkennung und Klassifizierung der distalen Radiusfraktur.
            </p>

            <div class="nes-table-responsive">
                <table class="nes-table is-bordered is-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>StudyDate</th>
                            <th>AccessionNumber</th>
                            <th>StudyDescription</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in results %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{r.MainDicomTags.StudyDate}}</td>
                            <td>{{r.MainDicomTags.AccessionNumber}}</td>
                            <td>{{r.MainDicomTags.StudyDescription}}</td>
                            <td><a href="/study?id={{r.ID}}"><button type="button"
                                        class="nes-btn is-primary">Öffnen</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>